body {
    background-color: gray; 
}

div{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: dotted black 10px;
}

.red {
    background-color: blue; margin-bottom: 30px; padding-left: 20px; border-left: solid;
}

.blue {
    background-color:red; margin-bottom: 30px; border-right: solid;
}

.yellow {
    background-color: yellow; margin-bottom: 30px; border-bottom: solid;
}